
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to the Event!!!</h1>
<br />

<img src="/images/event.jpg" width="400" height="400" />

<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Assignment" asp-action="AttendeeForm">Register</a>

